* {
    /* border: 0 200px; */
}

/* Common Shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 35px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}

/* ,,,,,,,,,,,,,,,,,,,,,nav,,,,,,,,,,,,,,,,,,,,,,,,, */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav .hover:hover {
    background-color: #FD6E0A;
    padding: 15px 15px;
    border-radius: 5px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* ,,,,,,,,,,,,,,,,,,,,,,header,,,,,,,,,,,,,,,,, */

.header {
    background: #FFF8F3;
    background-image: url('./resources/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-greet {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
}

.banner-text {
    font-size: 18px;
    font-weight: 400;
    color: #757575;

}

.banner-content {
    max-width: 600px;
}

.profile-pic {
    /* width: 500px; */
}

/* ,,,,,,,,,,,,,,main part started,,,,,,,,,,,, */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}

.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section-description {
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.info-description {
    color: #474747;
    /* line-height: 30px; */
    font-weight: 700;
    font-size: 20px;
    /* margin-top: 0;
padding-top: 0; */
}

.about-info {}

.info-title {
    color: #757575;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}

/* what i do section,,,,,,,,,,,, */

.skill-parent {
    display: flex;
    gap: 24px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.skill-set {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

#what-i-do {
    padding: 30px 150px;

}

/* Resume section,,,,,,,,   */
.resume-column-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.resume-item{
    /* padding: 30px 150px; */
}
hr{
    color: #D1D1D1;
    
}
.cv-button{
    text-align: center;
    margin-top: 50px;
}
.resume-section{
    margin-bottom: 150px;
}
/* footer part */
.footer{
    background-color: #FFF8F3;
    padding: 150px 200px;
}
.footer-container{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    
}
.footer-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.footer-description{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.message input{
    margin-bottom: 25px;
    display: block;
    padding: 18px 35px;
    color: #be2424;
}
#your-message{
    margin-bottom: 25px;
    padding-top: 18px;
    padding-left: 35px;
}
.contact{
    width: 50%;
}
.message input textarea{
    color: #be2424;
}